body{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ebebeb;
}
.button{
    font-size: 5em;
    border-radius: 18px;
    padding: 40px 60px;
    cursor: pointer;
    box-shadow: 8px 8px 16px #bebebe,
                -8px -8px 16px #ffff;
    transition: all 0.3s ease-in-out;
}
.button:active{
    box-shadow: inset 6px 6px 10px #bebebe,
                inset -6px -6px 10px #ffff;
    border-radius: 60px;
}